.salty-fox {

    padding: 45px 15px;

    h3,
    h4 {
        margin-top: 0;
        text-transform: none;
    }

    p,
    a {
        font-size: 16px;
    }

    a {
        color: $color_dark;
    }

}