 <!-- jQuery Version 1.11.0 -->
<script src="{{ "/assets/js/jquery-1.11.0.js" | relative_url }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/assets/js/bootstrap.min.js" | relative_url }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ "/assets/js/jquery.easing.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/classie.js" | relative_url }}"></script>
<script src="{{ "/assets/js/cbpAnimatedHeader.js" | relative_url }}"></script>
<script src="{{ "/assets/js/parallax.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/scrollClass.min.js" | relative_url }}"></script>
<script>
  $(document).ready(function() {
    $('.site-footer__content').scrollClass({
      delay: 50,
      threshold: 60
    });
  });
</script>
{%- if page.has_slider == true -%}
    <script src="{{ "/assets/js/jquery-migrate.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/slick.min.js" | relative_url }}"></script>
    <script>
      $(document).ready(function(){
        $('.suite__gallery').on('init', function () {
            $(".suite__gallery-item").removeClass('hidden');
        });
        $('.suite__thumbnails').on('init', function () {
            $(this).removeClass('hidden');
        });
        $('.suite__gallery').slick({
          nextArrow: '<i class="fa fa-chevron-circle-right slider-nav slider-nav--next" aria-hidden="true"></i>',
          prevArrow: '<i class="fa fa-chevron-circle-left slider-nav slider-nav--prev" aria-hidden="true"></i>',
          asNavFor: '.suite__thumbnails'
        });
        $('.suite__thumbnails').slick({
          asNavFor: '.suite__gallery',
          slidesToShow: 5,
          centerMode: true,
          focusOnSelect: true,
          arrows: false
        });
      });
    </script>
{%- endif -%}

<!-- Contact Form JavaScript -->
<script src="{{ "/assets/js/jqBootstrapValidation.js" | relative_url }}"></script>
<script src="{{ "/assets/js/contact_me.js" | relative_url }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/assets/js/agency.js" | relative_url }}"></script>
