<div class="suite__gallery">
    {%- for image in page.images -%}
        <div class="suite__gallery-item hidden">
            <img class="suite__gallery-img" src="{{- image | relative_url -}}" alt="">
        </div>
    {%- endfor -%}
</div>

<div class="suite__thumbnails hidden">
    {%- for image in page.images -%}
        <div class="suite__gallery-thumbnail{% if forloop.first %} suite__gallery-thumbnail--first{% endif %}{% if forloop.last %} suite__gallery-thumbnail--last{% endif %}">
            <img class="suite__gallery-thumbnail-img" src="{{- image | relative_url -}}" alt="">
        </div>
    {%- endfor -%}
</div>