<section class="home-extra-section walking row">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive" src="{{- site.data.walking.image.path | relative_url -}}" alt="{{- site.data.walking.image.alt_text -}}">
                </div>
    
                <div class="col-md-6">
                    {{ site.data.walking.text | markdownify }}
                </div>
            </div>
        </div>
    </section>
    